*{
    margin:0px;
    padding:0px;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom:solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top:0px;
    background-color: white;
    z-index: 1;
    
}
.navbar__s1__title{
    color:blueviolet;
}
.navbar__s2{
    padding:10px;
    border: solid black 1px;
    width:70%;
    border-radius: 30px;
    display:flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    width:100%;
    font-size: 17px;
    background-color: transparent;
}
.navbar__s2 input:focus{
    outline:none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s4{
    display: none;
}

/* my learning popup */

.mylearning{
     position: relative;
     cursor: pointer; 
}

.mylearning__popup{
      position: absolute;
      background-color: rgb(216, 210, 210);
      border: solid black 1px;
      width: 100px;
      top:30px;
      padding: 20px;
      right: 0;
      border-radius: 10px;
      display: none;
}
 .mylearning:hover .mylearning__popup{
    display: block;
 }

.catagories{
    display:flex;
    justify-content: space-around;
    padding:10px;
    border-bottom:solid black 1px;
}
.catagories p{
    background-color: blueviolet;
    color:white;
    padding:10px;
    border-radius: 30px;
    cursor: pointer;
    border: solid blueviolet 1px;
}

.catagories p:hover{
    background-color: transparent;
    color: black;
    transition: 2s;
    border: solid blueviolet 1px;
}

.sale-image img{
    width:100%;
}

.sale-image{
    position: relative;
}

.sale-image__offer{
    width:30%;
    border: solid black 2px;
    background-color: rgb(43, 204, 177);
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 30px;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: svale(1);
        opacity: 1;
    }
}
.recomended{
    padding:20px;
}
.recomended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}

.course-card img{
    width:100%;
    height: 65%;
}

.course-card del{

     margin-left: 5px;
}
.topics{
    padding: 10px;
}

.topics__container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}
.topics__container p{
    border: solid grey 2px;
    padding:10px;
    flex-grow: 1;
    flex-basis:27%;
}
.popular{
    padding: 20px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.footer{
    background-color: black;
    color: white;
    padding:30px;
}

.footer__one{
    display: flex;
    gap: 10px;
    
}

.footer__one p{
    margin: 20px;
}
.footer__two{
      display: flex;
      justify-content: space-between;
      margin: 20px;
      align-items: center;
}
/* media query */

@media screen and (max-width:900px){
   body{ font-size: 9px;
}
}
@media screen and (max-width:600px){
    .course-card{
        flex-basis: 40%;
    }
    .catagories{
        display: none;
    }
    .navbar__s2,.navbar__s3{
        display:none;
    }
    .navbar__s4{
        display: block;
    }
}